body {
    background-color: lightblue;
}

h2 {
    border-top: solid 2px;
}

h1 {
    border-bottom: solid 2px;
    padding-bottom: 5px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#info p {
    margin: 3px;
    font-size: 14px;
}

#info {
    margin-bottom: 14px;
}

#footer a {
    display: block;

}